/* css3 v1.0 */
ul,
li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
body {
  color: #333;
}
.container {
  padding-top: 20px;
}
.container .shortcuts-tip {
  padding-bottom: 10px;
  font-size: 16px;
  color: #555;
  text-align: center;
}
.tab-pane {
  padding-top: 5px;
}
.tab-pane.task .items li {
  height: 32px;
  border-bottom: solid 1px #e5e5e5;
}
.tab-pane.task .items li .task-item {
  position: relative;
  padding-left: 130px;
}
.tab-pane.task .items li dl.action {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 31px;
  overflow: hidden;
}
.tab-pane.task .items li dl.action dt {
  background-color: #f2f2f2;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
}
.tab-pane.task .items li dl.action dt,
.tab-pane.task .items li dl.action dd {
  float: left;
  width: 30px;
  line-height: 32px;
  text-align: center;
  font-style: normal;
}
.tab-pane.task .items li dl.action dd a {
  display: block;
  width: 30px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}
.tab-pane.task .items li dl.action dd a:hover,
.tab-pane.task .items li dl.action dd a:focus {
  text-decoration: none;
}
.tab-pane.task .items li .text {
  padding: 6px;
  width: 100%;
  height: 30px;
  line-height: 20px;
  border: none;
}
.tab-pane.task .items .placeHolder {
  display: block;
  padding-left: 0px;
  width: 500px;
  background-color: #fff;
  border: dashed 1px #ccc;
}
.task-details {
  position: fixed;
  top: 0px;
  right: -525px;
  padding: 8px;
  width: 525px;
  height: 100%;
  background-color: #fff;
  border-left: solid 1px #ccc;
  -webkit-box-shadow: #ccc 0px 0px 3px 1px;
  -moz-box-shadow: #ccc 0px 0px 3px 1px;
  box-shadow: #ccc 0px 0px 3px 1px;
  -webkit-transition: -webkit-right, 0.3s;
  -moz-transition: -moz-right, 0.3s;
  -ms-transition: -ms-right, 0.3s;
  -o-transition: -o-right, 0.3s;
  transition: right, 0.3s;
}
.task-details.show {
  right: 0px;
}
.task-details h2 {
  margin: 0px;
  line-height: 40px;
  font-size: 16px;
}
.task-details .task-form {
  padding-top: 15px;
  border-top: solid 1px #ccc;
}
.task-details .action {
  position: absolute;
  top: 10px;
  right: 15px;
}
.task-details .action li {
  float: left;
  margin-left: 15px;
}
.task-details .action li a {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
}
.task-details .action li a:hover,
.task-details .action li a:focus {
  text-decoration: none;
}
.task-details .action li a span {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: -2px;
}
