/* css3 v1.0 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  background-color: #fff;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scrollable {
  width: 100%;
  height: 200px;
  overflow: auto;
}
.scrollable-x {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.scrollable-y {
  height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
ul,
li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
body {
  color: #333;
}
.container {
  padding-top: 20px;
}
.container .shortcuts-tip {
  padding-bottom: 10px;
  font-size: 16px;
  color: #555;
  text-align: center;
}
.tab-pane {
  padding-top: 5px;
}
.tab-pane.task .items li {
  height: 32px;
  border-bottom: solid 1px #e5e5e5;
}
.tab-pane.task .items li .task-item {
  position: relative;
  padding-left: 130px;
}
.tab-pane.task .items li dl.action {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 31px;
  overflow: hidden;
}
.tab-pane.task .items li dl.action dt {
  background-color: #f2f2f2;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
}
.tab-pane.task .items li dl.action dt,
.tab-pane.task .items li dl.action dd {
  float: left;
  width: 30px;
  line-height: 32px;
  text-align: center;
  font-style: normal;
}
.tab-pane.task .items li dl.action dd a {
  display: block;
  width: 30px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}
.tab-pane.task .items li dl.action dd a:hover,
.tab-pane.task .items li dl.action dd a:focus {
  text-decoration: none;
}
.tab-pane.task .items li .text {
  padding: 6px;
  width: 100%;
  height: 30px;
  line-height: 20px;
  border: none;
}
.tab-pane.task .items .placeHolder {
  display: block;
  padding-left: 0px;
  width: 500px;
  background-color: #fff;
  border: dashed 1px #ccc;
}
.task-details {
  position: fixed;
  top: 0px;
  right: -525px;
  z-index: 9;
  padding: 8px;
  width: 525px;
  height: 100%;
  background-color: #fff;
  border-left: solid 1px #ccc;
  -webkit-box-shadow: #ccc 0px 0px 3px 1px;
  -moz-box-shadow: #ccc 0px 0px 3px 1px;
  box-shadow: #ccc 0px 0px 3px 1px;
  -webkit-transition: -webkit-right, 0.3s;
  -moz-transition: -moz-right, 0.3s;
  -ms-transition: -ms-right, 0.3s;
  -o-transition: -o-right, 0.3s;
  transition: right, 0.3s;
}
.task-details.show {
  right: 0px;
}
.task-details h2 {
  margin: 0px;
  line-height: 40px;
  font-size: 16px;
}
.task-details .task-form {
  padding-top: 15px;
  border-top: solid 1px #ccc;
}
.task-details .action {
  position: absolute;
  top: 10px;
  right: 15px;
}
.task-details .action li {
  float: left;
  margin-left: 15px;
}
.task-details .action li a {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
}
.task-details .action li a:hover,
.task-details .action li a:focus {
  text-decoration: none;
}
.task-details .action li a span {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: -2px;
}
.task-dashboard {
  overflow: hidden;
  border: solid 1px transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  zoom: 1;
  /* for IE6 IE7 */
}
.task-dashboard:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.task-dashboard .stage-list {
  padding-bottom: 50px;
  white-space: nowrap;
  overflow-y: auto;
}
.task-dashboard .stage-list .stage,
.task-dashboard .stage-list div.sortable-placeholder {
  display: inline-block;
  padding: 0px 10px 10px 10px;
  margin-right: 10px;
  width: 280px;
  border: solid 1px #cacdd1;
  background-color: #f3f5f9;
  vertical-align: top;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: #cacdd1 1px 1px 1px 1px;
  -moz-box-shadow: #cacdd1 1px 1px 1px 1px;
  box-shadow: #cacdd1 1px 1px 1px 1px;
}
.task-dashboard .stage-list .stage h3,
.task-dashboard .stage-list div.sortable-placeholder h3 {
  margin: 0px;
  line-height: 40px;
  font-weight: normal;
  font-size: 16px;
  color: #333;
}
.task-dashboard .stage-list .stage h3:hover,
.task-dashboard .stage-list div.sortable-placeholder h3:hover {
  cursor: move;
}
.task-dashboard .stage-list .stage .btn-task-add,
.task-dashboard .stage-list div.sortable-placeholder .btn-task-add {
  display: block;
  padding-left: 13px;
  height: 30px;
  line-height: 30px;
  background-color: #f3f5f9;
  font-size: 14px;
  color: #666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.task-dashboard .stage-list .stage .btn-task-add:hover,
.task-dashboard .stage-list div.sortable-placeholder .btn-task-add:hover,
.task-dashboard .stage-list .stage .btn-task-add:focus,
.task-dashboard .stage-list div.sortable-placeholder .btn-task-add:focus {
  background-color: #e5e8ef;
  color: #444;
  text-decoration: none;
}
.task-dashboard .stage-list .stage .btn-task-add .glyphicon,
.task-dashboard .stage-list div.sortable-placeholder .btn-task-add .glyphicon {
  margin-right: 8px;
}
.task-dashboard .stage-list .stage .task-list,
.task-dashboard .stage-list div.sortable-placeholder .task-list {
  min-height: 5px;
}
.task-dashboard .stage-list .stage .task-list li,
.task-dashboard .stage-list div.sortable-placeholder .task-list li {
  position: relative;
  margin-bottom: 8px;
  padding: 0px 45px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: #cacdd1 1px 1px 1px 1px;
  -moz-box-shadow: #cacdd1 1px 1px 1px 1px;
  box-shadow: #cacdd1 1px 1px 1px 1px;
}
.task-dashboard .stage-list .stage .task-list li:hover,
.task-dashboard .stage-list div.sortable-placeholder .task-list li:hover {
  background-color: #f7f8f9;
  cursor: move;
}
.task-dashboard .stage-list .stage .task-list li cite,
.task-dashboard .stage-list div.sortable-placeholder .task-list li cite {
  display: block;
  line-height: 40px;
  font-style: normal;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-dashboard .stage-list .stage .task-list li .btn-task-checked,
.task-dashboard .stage-list div.sortable-placeholder .task-list li .btn-task-checked,
.task-dashboard .stage-list .stage .task-list li .btn-task-collect,
.task-dashboard .stage-list div.sortable-placeholder .task-list li .btn-task-collect {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #adadad;
  font-size: 20px;
}
.task-dashboard .stage-list .stage .task-list li .btn-task-checked:hover,
.task-dashboard .stage-list div.sortable-placeholder .task-list li .btn-task-checked:hover,
.task-dashboard .stage-list .stage .task-list li .btn-task-collect:hover,
.task-dashboard .stage-list div.sortable-placeholder .task-list li .btn-task-collect:hover,
.task-dashboard .stage-list .stage .task-list li .btn-task-checked:focus,
.task-dashboard .stage-list div.sortable-placeholder .task-list li .btn-task-checked:focus,
.task-dashboard .stage-list .stage .task-list li .btn-task-collect:focus,
.task-dashboard .stage-list div.sortable-placeholder .task-list li .btn-task-collect:focus {
  text-decoration: none;
}
.task-dashboard .stage-list .stage .task-list li .btn-task-collect,
.task-dashboard .stage-list div.sortable-placeholder .task-list li .btn-task-collect {
  left: auto;
  right: 0px;
}
.task-dashboard .stage-list .stage .task-list li.sortable-placeholder,
.task-dashboard .stage-list div.sortable-placeholder .task-list li.sortable-placeholder {
  border: solid 1px #cacdd1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.task-dashboard .stage-list .stage .task-list li.sortable-dragging,
.task-dashboard .stage-list div.sortable-placeholder .task-list li.sortable-dragging {
  border: solid 1px #cacdd1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.task-dashboard .stage-list div.sortable-placeholder {
  border: solid 1px #cacdd1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
